{% extends 'base.html' %}

{% block title %}
	CATEGORIES
{% endblock %}

{% block content %}
	
	<hr>
	<h2>{{ cats }}</h2>
	<hr>
	{% for post in category_posts %}

			<li><a href="{% url 'article_detail' post.pk %}"> 

			{{ post.category }} - {{ post.title }} </a>- {{ post.author.first_name }} - {{ post.date_time }} 

				{% if user.is_authenticated %}
					{% if user.id == post.author.id %}

					- <small><a href="{% url 'update' post.pk %}"> (Edit) </a></small>
					- <small><a href="{% url 'delete' post.pk %}"> (Delete) </a></small><br/>

					{% endif %}
				{% endif %}
			{{ post.body|slice:":200" }}</li>

	{% endfor %}




{% endblock %}