{% extends 'base.html' %}

{% block title %}
	CATEGORIES
{% endblock %}

{% block content %}
	
	<hr>
	<h2>{{ cats }}</h2>
	<hr>
	{% for post in category_posts %}
		<div class="shadow-lg p-3 mb-5 bg-body rounded">

			<a href="{% url 'article_detail' post.pk %}"> 

			{{ post.category }} - {{ post.title }} </a>- {{ post.author.first_name }} - {{ post.date_time }} 

				{% if user.is_authenticated %}
					{% if user.id == post.author.id %}

					<small><a href="{% url 'update' post.pk %}" class="btn btn-secondary"> Edit </a></small> 
					<small><a href="{% url 'delete' post.pk %}" class="btn btn-secondary"> Delete </a></small>

					{% endif %}
				{% endif %}
			{{ post.body|slice:":200"|safe }}
		</div>

	{% endfor %}




{% endblock %}