{% extends 'base.html' %}

{% block content %}
<br/><br/>
<center><h1>COMMON CRYPTOCURRENCIES AND VALUES (USD)</h1></center><br/><br/>
<canvas id="myChart" width="auto" height="200"></canvas>
<script>
var xValues = [{% for coin in coins%} '{{ coin.date_time }}', {% endfor %}];

new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      data: [{% for coin in coins%} {{ coin.bitcoin_value }}, {% endfor %}],
      label: 'Bitcoin',
      borderColor: "red",
      fill: false
    },{
      data: [{% for coin in coins%} {{ coin.tether_value }}, {% endfor %}],
      label: 'Tether',
      borderColor: "green",
      fill: false
    },{
    },{
      data: [{% for coin in coins%} {{ coin.etherem_value }}, {% endfor %}],
      label: 'Etherem',
      borderColor: "black",
      fill: false
    },{
      data: [{% for coin in coins%} {{ coin.binance_value }}, {% endfor %}],
      label: 'Binance',
      borderColor: "blue",
      fill: false
    }]
  },
  options: {
    legend: {display: false}
  }
});

</script>

{% endblock %}
